
@font-face {
    font-family: 'playfair_display';
    src: url(../fonter/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'gotu';
    src: url(../fonter/Gotu-Regular.ttf);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonter/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

h1{
    font-family: 'playfair_display';
    font-weight: 900;
    color: rgb(242, 222, 186);
    font-size: 3em;
}

h2{
    font-family: 'playfair_display';
    font-weight: 800;
    color: rgb(250, 236, 214);
    font-size: 2em;
}

h3{
    
    font-family: 'playfair_display';
    color: rgb(130, 0, 0);
    font-size: 1.5em;
}
h4{
    font-family: 'playfair_display';
    color: rgb(130, 0, 0);
    font-size: 1.25em;
}
p{
    font-family: 'gotu';
    color: rgb(130, 0, 0);
}

figcaption{
    font-family: 'gotu';
    color: rgb(130, 0, 0);
}

body{
    margin: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft"
    ;
}

header{
    padding: 20px;
    background-color: rgb(130, 0, 0);
    display: flex;
    justify-content: center;
    grid-area: hd;
}

nav{
    display: flex;
    grid-area: nav;
    height: 60px;

}

div{
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.155)
}

article{
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.155)
}

.fanfar{
    display: none;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 40px;
    background-color: rgb(78, 108, 80);
    
}

.hur_h2{
    grid-area: h2;
}

.index_bild{
    width: 90%;
}

.main_hur{
    display: flex;
    flex-direction: column;
    align-items: center;

}

img{
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.155);
    border-radius: 0px 30px 0px 30px;
}


footer{
    grid-area: ft;
    height: 190px;
    background-color: rgb(130, 0, 0);
}

.nav_a{
    background-color: rgb(250, 236, 214);
    color: rgb(130, 0, 0);
    text-decoration: none;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    font-size: 2rem;

}

.nav_a:hover{
    background-color: rgb(201, 201, 201);
    transition: 2s;
}

.meny_knapp{
    display: none;
    font-size: 4rem;
    height: 2em;
    width: 2em;
    font-family: 'Material Icons';
    border: none;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.155);
    background-color: rgb(242, 222, 186);
}



.nav_h2{
    display: none;
}


.greppsystem_div{
    background-color: rgb(242, 222, 186);
    width: fit-content;
    border-radius: 0px 30px 0px 30px;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.naturtonserien{
    width: auto;
    border-radius: 0px 30px 0px 30px;

}

.instrument_hurfungerar{
    width: 90%;
}

.hur_fungerar{
    border-radius: 0px 30px 0px 30px;
    background-color: rgb(250, 236, 214);
    padding: 50px;
    margin: 30px;
    width: 90%;
}


#greppsystem{
    grid-area: grepp;
    display: grid;

    grid-template-areas: 
    "grepp grepp grepp"
    "gaffel svenska drag"
    ;
    
}

.h3_grepp{
    grid-area: grepp;
}

#gaffelgrepp{
    grid-area: gaffel;
}

#svenskagrepp{
    grid-area: svenska;
}

#dragbygel{
    grid-area: drag;
}

.main_historia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    grid-template-areas: 
        " h2_hi h2_hi h2_hi"
        "fo se mo"
        
    ;

}

.h2_historia{
    grid-area: h2_hi;
    display: flex;
    justify-content: center;

}

.historia_bild{
    width: 70%;
}


.historia_article{
    
    margin: 30px;
    padding: 20px;
    border-radius: 0px 30px 0px 30px;
    background-color: rgb(250, 236, 214);
    height: 90%;
    gap: 10px;

   display: flex;
   flex-direction: column;
   align-items: center;
}

#forsta{
    grid-area: fo;
}

#senare{
    grid-area: se;
}


#moderna{
    grid-area: mo;
}


#article_basta{
    display: flex;
    margin: 30px;
    flex-direction: row;
    border-radius: 0px 30px 0px 30px;
    background-color: rgb(250, 236, 214);
    width: fit-content;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.div_basta{
    background-color: rgb(242, 222, 186);
    border-radius: 0px 30px 0px 30px;
    margin: 30px;
    padding: 20px;
    width: 250px;
}

.visa_inte{
    display: none;
}

.visa{
    display: block;
}



.basta_spelare{
    width: 200px;
    filter: grayscale(50%);
    filter: blur(0.5px);
    filter: hue-rotate(-10deg);
}

.break{
    width: 100%;
}

#visa_mer{
    font-size: 1.5rem;
    cursor: pointer;
}






@media screen and (max-width: 600px) {

    h2{
        font-size: 1.75em;
    }

    p{
        font-size: 0.8em;
    }

    figcaption{
        font-size: 0.8em;
    }

    .meny_knapp{
        display: block;

    }

    header{
        justify-content: space-between;
    }

    .nav_a{
        border: none;
        height: auto;
        margin: 20px;
        width: auto; 
        padding: 10px;
    }

    nav{
        top: -190vh;
        right: 0px;
        position: fixed;
        background-color: pink;
        height: 75vh;
        width: 100%;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }


    .nav_transition{
        top: 0vw;
        transition: 1s;
    }

    .lager{
        z-index: -1;
        display: none;
    }
    
    .lager_show{
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
    }

    .nav_h2{
        display: block;
    }


    .main_historia{
        display: flex;
        flex-direction: column;
        align-content: center;
    
    }

    main{

        padding: 20px;
        
    }

    .hur_fungerar{
        padding: 15px;
        margin: 20px;
    }

    #greppsystem{
        grid-template-areas: 
        "grepp"
        "gaffel" 
        "svenska" 
        "drag"
        ;
    }

    .div_basta{
        width: 90%;
        margin: 20px;
        padding: 15px;
    }

    .basta_spelare{
        width: 100%;
    }

    .naturtonserien{
        width: 90%;
    }
      
    .greppsystem_div{
        padding: 10px;
        margin: 10px;
    
    }
    .instrument_hurfungerar{
        width: 100%;
    }

    
}
